<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>hallo {{naam}}</p>
    <form method="POST">
        <button name="save" value="confirm">Opslaan</button>
    {% for resident, i in residents %}
    {% if resident != None %}
            <p>bewoner{{i}}</p>
            <input type="text" name="resident{{i}}" value="{{resident}}">
    {% else %}
            <p>bewoner{{i}}</p>
            <input type="text" name="resident{{i}}" placeholder="Vul een naam in">
    {% endif %}
    {% endfor %}
    </form>
</body>
</html>