{% extends "base.html" %}

{% block content %}
<section>
    <span>
        <h1>Sign Up</h1>
    </span>
    <form method="post">
        <label for="username">username:</label><br>
        <input id="username" type="text" name="username" autocomplete="off"><br>
        <label for="email">email:</label><br>
        <input id="email" type="email" name="email" autocomplete="off"><br>
        <label for="password1">password:</label><br>
        <input id="password1" type="password" name="password1"><br>
        <label for="password2">confirm password:</label><br>
        <input id="password2" type="password" name="password2"><br>
        <label for="resident1">resident1:</label><br>
        <input id="resident1" type="text" name="resident1" autocomplete="off"><br>
        <label for="resident2">resident2:</label><br>
        <input id="resident2" type="text" name="resident2" autocomplete="off"><br>
        <label for="resident3">resident3:</label><br>
        <input id="resident3" type="text" name="resident3" autocomplete="off"><br>
        <input type="submit" name="signup" value="signup">

    </form>
</section>
{% endblock %}