{% extends "base.html" %}

{% block content %}
<section>
    <span>
        <h1>Sign Up</h1>
    </span>
    <form method="post">
        <label for="username">username:</label>
        <input id="username" type="text" name="username" autocomplete="off">
        <label for="email">email:</label><br>
        <input id="email" type="email" name="email" autocomplete="off"><br>
        <label for="password1">password:</label><br>
        <input id="password1" type="password" name="password1"><br>
        <label for="password2">confirm password:</label><br>
        <input id="password2" type="password" name="password2"><br>
        <input type="submit" name="signup" value="signup">
    </form>
</section>
{% endblock %}